<strong>Ola, {{ deliveryman }}</strong>
<p>Houve um cancelamento de uma entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatario: </strong>{{ recipient }} <br />
  <strong>Endereço: </strong>{{ adress }} <br />
  <strong>Produto: </strong>{{ product }} <br />
  <strong>Data de cancelamento: </strong>{{ canceledAt }}
</p>
