<strong>Ola, {{ deliveryman }}</strong>
<p>Nova encomenda disponivel para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatario: </strong>{{ recipient }} <br />
  <strong>Endereço: </strong>{{ adress }} <br />
  <strong>Produto: </strong>{{ product }} <br />
  <strong>Data: </strong>{{ date }}
</p>
